<footer class="site-footer">
  <div class="footer-links">
    <a href="{{ path('home') }}">Accueil</a> |
    <p>Contact : fabien.viazzi@gmail.com|</p>
    <p>ce site a été réalisé dans le cadre d'un projet de formation|</p>
    <p>Les images et icônes utilisées sont à titre d'exemple et peuvent être soumises à des droits d'auteur.</p>
  </div>

  <div class="footer-copy">
    © 2024 MonSite - Tous droits réservés
  </div>
</footer>
